@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* text-sans-worksans */
  font-family:
    'Work Sans',
    /*
                  * "-apple-system" targets San Francisco
                  * in Safari on Mac OS X and iOS, and
                  * Neue Helvetica and Lucida Grande on older
                  * versions of Mac OS X. It properly selects
                  * between San Francisco Text
                  * and San Francisco Display.
                  */ -apple-system,
    /* For Chrome on Mac OS X */ BlinkMacSystemFont,
    /* Microsoft Windows and Windows Phone */ 'Segoe UI',
    /* Android */ 'Roboto',
    /* KDE */ 'Oxygen',
    'Ubuntu',
    /* Fedora */ 'Cantarell',
    /* FirefoxOS */ 'Fira Sans',
    /* Android 2 */ 'Droid Sans',
    /* MacOS 2 */ 'Helvetica Neue',
    sans-serif;
}

.text-sans-serif {
  font-family: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
}

.text-serif {
  font-family: Times, 'Times New Roman', serif;
}

h1 {
  font-weight: bold;
  font-size: 1.875rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem
}

a,
a:visited,
a:hover,
a:active {
  &,
  &:link,
  &:visited {
    text-decoration: underline;
    color: #101010;
  }
  &:hover,
  &:active {
    text-decoration: underline;
    color: #808080;
  }
}
